#navbar-icon {
  width: 50px;
}

.hidden
{
   display: none
}

.thin-container {
    padding-left: 20px;
    padding-right: 20px;
}

.management-scrollbar {
    width: auto;
    height:auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px;
    overflow-x: scroll;
}

.management-outer {
    width: 300px;
    height: 400px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.test {
    background-color: #eeeeee;
    color: #222;
    width: 290px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    z-index:10;
    text-align: center;
}

.ul-padding {
    padding-top: 30px;
    background: #eeeeee;
}

.card-title-margin {
    margin-top: 2px;
}

.delete_event {
    cursor: pointer;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

