<div ng-controller="RegisterController as registrar">
  <div class="container">
    <form novalidate class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" ng-model="registrar.user.username">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="registrar.user.password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12">
        <input id="address" type="text" ng-model="registrar.user.address" g-places-autocomplete>
        <label for="address">Address</label>
      </div>
      <div class="input-field col s12">
        <input id="cell" type="text" class="validate" ng-model="registrar.user.cell">
        <label for="cell">Phone</label>
      </div>
      <div class="center">
        <button class="btn waves-effect waves-light" type="submit" name="register" ng-click="registrar.register(user)">Register</button>
        <a class="waves-effect waves-light btn-flat" ui-sref="signin">Back</a>
      </div>
    </form>
    <pre class="test">{{ registrar.user | json }}</pre>
  </div>
  
</div>
