{% extends "index.html" %}
{% block title %}Sign Up For Pedal{% endblock %}
{% block content %}
  <form class="form-horizontal" id="signup-form">
    <fieldset class="account-info">
      <legend>Manager Account</legend>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="username">*Username</label>
        <div class="col-md-4">
        <input id="username" name="username" type="text" placeholder="restaurant-name-here" class="form-control input-md" required>
          
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="password">*Password</label>
        <div class="col-md-4">
          <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required>
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="password-confirm">*Comfirm Password</label>
        <div class="col-md-4">
          <input id="password-confirm" name="password-confirm" type="password" placeholder="" class="form-control input-md" required>
          
        </div>
      </div>

      <div class="col-md-4">
          <h3 id="notifier"></h3>
      </div>

    </fieldset>
    <fieldset>
      <!-- Form Name -->
      <legend>Restaurant Details</legend>

      <!-- Text input-->
      <div class="col-sm-6">
        <div class="control-group">
          <label class="control-label" for="res_name">Name</label>
          <div class="controls">
            <input id="res_name" name="res_name" type="text" placeholder="Restaurant Name" class="input-medium" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="street">Street</label>
          <div class="controls">
            <input id="street" name="street" type="text" placeholder="100 Union Sq." class="input-medium" required>
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="city">City</label>
          <div class="controls">
            <input id="city" name="city" type="text" placeholder="City Name" class="input-medium" required>
            
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="zipcode">Zipcode</label>
          <div class="controls">
            <input id="zipcode" name="zipcode" type="text" placeholder="00000" class="input-medium">
            
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="state">Delivery</label>
          <div class="controls">
            <select id="delivery" name="delivery" class="input-medium">
              <option value=true >Yes</option>
              <option value=false >No</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="city">Events</label>
          <div class="controls">
            <input id="events" name="events" type="text" placeholder="Events" class="input-medium">
          </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="state">State</label>
          <div class="controls">
            <select id="state" name="state" class="input-medium">
              <option>CA</option>
              <option>CT</option>
              <option>IL</option>
              <option>IN</option>
              <option>KS</option>
              <option>LA</option>
              <option>MA</option>
              <option>NJ</option>
              <option>NY</option>
              <option>OH</option>
              <option>PA</option>
              <option>RI</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="col-sm-6">
        <div class="control-group">
          <label class="control-label" for="phone">Phone</label>
          <div class="controls">
            <input id="phone" name="phone" type="text" placeholder="xxx-xxx-xxxx" class="input-medium" required>
            
          </div>
        </div>

        <!-- Text input-->
        <!-- <div class="control-group">
          <label class="control-label" for="image" class="logo">Logo</label>
          <div class="controls">
            <input id="image" name="image" type="text" placeholder="url" class="input-medium" required="">
          </div>
        </div> -->

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">                     
            <textarea id="description" name="description"></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label" for="deals">Today's Special</label>
          <div class="controls">                     
            <textarea id="deals" name="deals"></textarea>
          </div>
        </div>
      </div>
    </fieldset>

    
    
    <div>
      <legend>Schedule</legend>
      <table class="table table-hover">
        <tr>
          <th>Day</th>
          <th>Open</th>
          <th>Close</th>
        </tr>
        <tr>
          <td id="sun">Sunday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </tr>
        <tr>
          <td id="mon">Monday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </tr>
        <tr>
          <td id="tue">Tuesday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </tr>
        <tr>
          <td id="wed">Wednesday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </tr>
        <ty>
          <td id="thr">Thursday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </ty>
        <tr>
          <td id="fri">Friday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </tr>
        <tr>
          <td id="sat">Saturday</td>
          <td><input type="text" class="time ui-timepicker-input"></td>
          <td><input type="text" class="time ui-timepicker-input"></td>
        </tr>
      </table>
    </div>
    <hr>
    <button type="button" id="submit-signup" class="btn btn-success">Submit</button>
  </form>

{% endblock %}
{% block js %}
<script src="static/jquery.timepicker.min.js"></script>
<script src="static/built.min.js"></script>
<script src="static/signup.js"></script>

{% endblock %}

